{% extends 'base.html' %}

{% block title %}Notes {% if note.title %}| {{ note.title }}{% endif %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-3">
        <form action="{% url 'update' note.id %}" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <input type="text" class="form-control clear-focus-highlight"
                        name="title" value="{{ note.title }}" placeholder="Enter Title...">
                </div>
                <div class="panel-body">
                    <textarea class="form-control clear-focus-highlight" name="note"
                        rows="10em" placeholder="Enter note...">{{ note.note }}</textarea>
                </div>
                <div class="panel-footer">
                    <input class="btn btn-default btn-raised btn-primary btn-sm"
                        type="submit" value="Save">
                    <a class="btn btn-raised btn-danger btn-sm" href="#">Delete</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>
            <a class="btn btn-raised btn-primary btn-xs" href="{% url 'index' %}">
            Back
            </a>
        </p>
    </div>
</div>
{% endblock content %}
